.ChatRoom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

.ChatRoom-namespace {
    color: #B4B4B4;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration-line: underline;
    margin-bottom: 0px;
    padding-left: 5px;
}

.ChatRoom-roomsLists li {
    list-style: none;
}

.ChatRoom-roomsLists-room {
    cursor: pointer;
    color: #0084FF;
    background-color: #E6F3FF;
    width: 140px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}